# basic dependabot config file. 
#
# Announcement: https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/
# Documentation: https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/keeping-your-dependencies-updated-automatically
#     (Do not refer to documentation on https://dependabot.com/docs/config-file/ not compatible with GitHub).
#

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      # Hazelcast 3+ has breaking changes
      - dependency-name: "com.hazelcast:hazelcast"
        versions: ["3.x", "4.x"]
      # Netty 4 has breaking changes, 5.0.0 is deprecated
      - dependency-name: "io.netty:netty"
        versions: ["4.x", "5.x"]
