image: $CI_REGISTRY/swe-database-team/gitlab-ci/whois-build:6113670d

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  TZ: Europe/Amsterdam
  WHITESOURCE_CONFIG_FILE: "whitesource.config"
  PROJECT_NAME: "whois"
  ARTIFACT_NAME: "whois-db"
  ARTIFACT_DIR: "whois-db"

include:
  - project: 'swe/gitlab-ci'
    file: '/templates/whitesource-scanning.yml'
  - project: 'swe-database-team/gitlab-ci'
    file: '/templates/release-template.yml'
  - project: 'swe-database-team/gitlab-ci'
    file: '/templates/deployment-template.yml'

stages:
  - build
  - test
  - integration-test
  - code_quality
  - release
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .m2/repository

build:
  tags:
    - whois
  stage: build
  script:
    - mvn $MAVEN_OPTS clean install -Prelease
  artifacts:
    paths:
      - "*/target/*.jar"
    reports:
      junit:
        - "*/target/surefire-reports/TEST-*.xml"
        - "*/target/failsafe-reports/TEST-*.xml"

release:
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG'
      when: always
    - when: manual
      allow_failure: false
  script:
    - if [ "$CI_COMMIT_TAG" ]; then NEW_VERSION="$CI_COMMIT_SHORT_SHA"; else NEW_VERSION="$CI_COMMIT_SHORT_SHA-SNAPSHOT"; fi
    - mvn versions:set -DnewVersion=$NEW_VERSION
    - mvn -DskipTests -DskipITs -Prelease deploy
  extends: .release_template

.it_template: &it_env
  services:
    - mariadb:10.2
  variables:
    MYSQL_ROOT_PASSWORD: root
    TZ: Europe/Amsterdam
  stage: integration-test
  before_script:
    - mysql -uroot -proot -h mariadb -e "CREATE USER 'dbint'@'%' IDENTIFIED BY '';"
    - mysql -uroot -proot -h mariadb -e "GRANT ALL ON *.* TO 'dbint'@'%' WITH GRANT OPTION;"
    - mysql -uroot -proot -h mariadb -e "SET GLOBAL innodb_file_per_table = 0;"
    - mysql -uroot -proot -h mariadb -e "SET GLOBAL innodb_buffer_pool_size = 2147483648;"
    - mysql -uroot -proot -h mariadb -e "SET GLOBAL max_connections=10000;"
  artifacts:
    reports:
      junit:
        - "*/target/surefire-reports/TEST-*.xml"
        - "*/target/failsafe-reports/TEST-*.xml"

whois-groovy-test:
  <<: *it_env
  tags:
    - whois
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: always
    - when: manual
      allow_failure: true
  script:
    - mvn -DskipTests install
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-endtoend

whois-integration-test:
  <<: *it_env
  tags:
    - whois
  rules:
    - if: '$CI_COMMIT_REF_NAME == "master"'
      when: always
    - when: manual
      allow_failure: true
  script:
    - mvn -DskipTests install
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-api
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-client
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-commons
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-db
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-nrtm
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-query
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-rpsl
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-scheduler
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pintegration -pl whois-update

sonar:
  <<: *it_env
  stage: code_quality
  only:
    - schedules
  tags:
    - whois
  script:
    - mvn install
    - mvn $MAVEN_OPTS -Ddb.host=mariadb verify -Pall -fn # ignore failing (non deterministic) tests, we want QA output regardless
    - echo PWD=$PWD
    - mvn org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectVersion=$CI_COMMIT_SHORT_SHA -Dsonar.projectKey=whois -Dsonar.host.url=${SONAR_HOST_URL} -Dsonar.login=${SONAR_TOKEN} -Dsonar.projectName=whois -Dsonar.coverage.jacoco.xmlReportPaths=$PWD/whois-api/target/site/jacoco-merged-test-coverage-report/jacoco.xml,$PWD/whois-client/target/site/jacoco-merged-test-coverage-report/jacoco.xml,$PWD/whois-commons/target/site/jacoco-merged-test-coverage-report/jacoco.xml,$PWD/whois-db/target/site/jacoco-merged-test-coverage-report/jacoco.xml,$PWD/whois-nrtm/target/site/jacoco-merged-test-coverage-report/jacoco.xml,$PWD/whois-query/target/site/jacoco-merged-test-coverage-report/jacoco.xml,$PWD/whois-rpsl/target/site/jacoco-merged-test-coverage-report/jacoco.xml,$PWD/whois-scheduler/target/site/jacoco-merged-test-coverage-report/jacoco.xml -Dsonar.test.exclusions=**/test/*
