language: java

dist: trusty # xenial is causing build failure when installing openjdk8

jdk:
  - openjdk11

before_install:
  - rm whois-rpsl/src/main/parser/bin/yacc* # in travis yacc needs to be compiled from source
  - sudo apt-get install byacc

branches:
  only:
    - master

# TODO: [ES] travis integration tests are failing
script: mvn install
