language: java

before_install:
 - rm whois-client/src/main/parser/bin/yacc* # in travis yacc needs to be compiled from source
 - sudo apt-get update
 - sudo apt-get install byacc git maven openjdk-7-doc openjdk-7-jdk openjdk-7-source mysql-server mysql-client

branches:
  only:
    - master

script: mvn install -Ptravis
