projectName=whois
productName=database-team

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=true
offline=false

showProgressBar=false

# WhiteSource server Agent
wss.url=https://saas.whitesourcesoftware.com/agent

includes=**/*.jar **/*.js
excludes=**/*sources.jar **/*javadoc.jar

# case.sensitive.glob=false
followSymbolicLinks=true

maven.resolveDependencies=true
maven.ignoredScopes=test provided
maven.ignoreSourceFiles=true
maven.aggregateModules=true
maven.ignorePomModules=false
maven.runPreStep=true
maven.ignoreMvnTreeErrors=false

#sbt.resolveDependencies=true
#sbt.ignoreSourceFiles=true
#sbt.aggregateModules=true
#sbt.runPreStep=false

#npm.resolveDependencies=true
#npm.ignoreSourceFiles=true
#npm.includeDevDependencies=false
#npm.runPreStep=false

#bower.resolveDependencies=false
#bower.ignoreSourceFiles=false
#bower.runPreStep=false

#
# Disable the analysis of dependencies referenced within HTML files
#
html.resolveDependencies=false

#
# Disable the analysis of NuGet dependencies
#
#nuget.resolvePackagesConfigFiles=false
#nuget.resolveCsProjFiles=false
#nuget.resolveDependencies=false
#nuget.restoreDependencies=false
#nuget.ignoreSourceFiles=true
#nuget.runPreStep=false

#
# Disable the analysis of Python dependencies
#
#python.resolveDependencies=false
#python.ignoreSourceFiles=true
#python.ignorePipInstallErrors=true
#python.installVirtualenv=false
#python.resolveHierarchyTree=false
#python.resolveSetupPyFiles=false
#python.runPipenvPreStep=false
#python.pipenvDevDependencies=false
#python.IgnorePipenvInstallErrors=true

#
# Disable the analysis of Gradle dependencies
#
#gradle.resolveDependencies=false
#gradle.runAssembleCommand=false
#gradle.runPreStep=false
#gradle.ignoreSourceFiles=true
#gradle.aggregateModules=false

#
# Disable the analysis of Paket dependencies
#
#paket.resolveDependencies=false
#paket.ignoreSourceFiles=true
#paket.runPreStep=false

#
# Disable the analysis of Golang dependencies
#
#go.resolveDependencies=false
#go.collectDependenciesAtRuntime=false
#go.ignoreSourceFiles=true

#
# Disable the analysis of Ruby dependencies
#
#ruby.resolveDependencies=false
#ruby.ignoreSourceFiles=true
#ruby.installMissingGems=false
#ruby.runBundleInstall=false
#ruby.overwriteGemFile=false

#
# Disable the analysis of PHP dependencies
#
#php.resolveDependencies=false
#php.runPreStep=false
#php.includeDevDependencies=false

#
# Disable the analysis of CocoaPods dependencies
#
#cocoapods.resolveDependencies=false
#cocoapods.runPreStep=false
#cocoapods.ignoreSourceFiles=true
