projectName=whois
productName=database-team

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=true
offline=false

showProgressBar=false

# WhiteSource server Agent
wss.url=https://saas.whitesourcesoftware.com/agent

includes=**/*.jar **/*.js
excludes=**/*sources.jar **/*javadoc.jar

# case.sensitive.glob=false
followSymbolicLinks=true

maven.resolveDependencies=true
maven.ignoredScopes=test provided
maven.ignoreSourceFiles=true
maven.aggregateModules=true
maven.ignorePomModules=false
maven.runPreStep=true
maven.ignoreMvnTreeErrors=false

#
# Disable the analysis of dependencies referenced within HTML files
#
html.resolveDependencies=false

