>>>>>

The RIPE Database is subject to Terms and Conditions:
http://www.ripe.net/db/support/db-terms-conditions.pdf

For assistance or clarification please contact:
RIPE Database Administration <ripe-dbm@ripe.net>
<<<<<