<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="applicationContext-commons.xml"/>

    <beans profile="DEPLOYED">
        <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl" primary="true">
            <property name="host" value="${mail.smtp.host}"/>
            <property name="port" value="25"/>
        </bean>
    </beans>
</beans>
