<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <!-- Appenders -->
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{1}] %m%n"/>
        </Console>
    </Appenders>

    <!-- Loggers -->
    <Loggers>

        <Logger name="net.ripe.db.whois" level="info"/>


        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>

