<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <tx:annotation-driven/>

    <aop:aspectj-autoproxy/>

    <context:component-scan base-package="net.ripe.db.whois"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="sourceAwareDataSource"/>
    </bean>

    <bean id="abstractDataSource" abstract="true" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="minPoolSize" value="0"/>
        <property name="maxPoolSize" value="20"/>
        <property name="maxIdleTime" value="7200"/>
        <property name="preferredTestQuery" value="SELECT 1"/>
        <property name="idleConnectionTestPeriod" value="15"/>
    </bean>

    <bean id="aclDataSource" parent="abstractDataSource">
        <property name="jdbcUrl" value="${acl.database.url}"/>
        <property name="user" value="${acl.database.username}"/>
        <property name="password" value="${acl.database.password}"/>
    </bean>

    <bean id="dnscheckDataSource" parent="abstractDataSource">
        <property name="jdbcUrl" value="${dnscheck.database.url}"/>
        <property name="user" value="${dnscheck.database.username}"/>
        <property name="password" value="${dnscheck.database.password}"/>
    </bean>

    <bean id="mailupdatesDataSource" parent="abstractDataSource">
        <property name="jdbcUrl" value="${mailupdates.database.url}"/>
        <property name="user" value="${mailupdates.database.username}"/>
        <property name="password" value="${mailupdates.database.password}"/>
    </bean>

    <bean id="schedulerDataSource" parent="abstractDataSource">
        <property name="jdbcUrl" value="${scheduler.database.url}"/>
        <property name="user" value="${scheduler.database.username}"/>
        <property name="password" value="${scheduler.database.password}"/>
    </bean>

    <bean id="whoisMasterDataSource" parent="abstractDataSource">
        <property name="driverClass" value="${whois.db.master.driver}"/>
        <property name="jdbcUrl" value="${whois.db.master.url}"/>
        <property name="user" value="${whois.db.master.username}"/>
        <property name="password" value="${whois.db.master.password}"/>
    </bean>

    <bean id="whoisSlaveDataSource" parent="abstractDataSource">
        <property name="driverClass" value="${whois.db.driver}"/>
        <property name="jdbcUrl" value="${whois.db.slave.url}"/>
        <property name="user" value="${whois.db.slave.username}"/>
        <property name="password" value="${whois.db.slave.password}"/>
    </bean>
</beans>
