<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Appenders -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <!-- Loggers -->
    <category name="net.ripe">
        <priority value="INFO"/>
    </category>

    <category name="net.ripe.db.whois.common.pipeline.EventLogger">
        <priority value="DEBUG"/>
    </category>

    <category name="net.ripe.db.whois.common.pipeline.ExceptionHandler">
        <priority value="DEBUG"/>
    </category>

    <!-- For debugging resourcehandler -->
    <category name="org.eclipse.jetty">
        <priority value="DEBUG"/>
    </category>

    <!-- C3PO does A LOT of surplus logging in DEBUG -->
    <category name="com.mchange">
        <priority value="INFO"/>
    </category>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
