<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Appenders -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="Target" value="System.out" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] %m%n" />
        </layout>
    </appender>

    <!-- Loggers -->

    <logger name="net.ripe">
        <level value="DEBUG" />
    </logger>

    <logger name="org.eclipse.jetty">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO" />
    </logger>

    <!-- Root -->
    <root>
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
