<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="net.ripe.db.whois.wsearch" />

    <context:property-placeholder
            location="classpath:wsearch.properties"
            system-properties-mode="OVERRIDE"/>

    <bean class="net.ripe.db.whois.api.httpserver.RemoteAddressFilter">
        <constructor-arg>
            <bean class="net.ripe.db.whois.common.domain.IpRanges" />
        </constructor-arg>
    </bean>

    <bean class="net.ripe.db.whois.api.acl.ApiKeyFilter"/>

    <bean class="net.ripe.db.whois.api.DefaultExceptionMapper" />
</beans>
