<?xml version="1.0" encoding="UTF-8"?>
<Configuration  packages="org.apache.logging.log4j.core,io.sentry.log4j2">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{1}] %m%n"/>
        </Console>
    </Appenders>

    <!-- Loggers -->
    <Loggers>

        <Logger name="com.hazelcast" level="warn"/>

        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>