<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <bean class="net.ripe.db.whois.scheduler.SchedulerConfig" />

    <context:component-scan base-package="net.ripe.db.whois"/>

    <context:property-placeholder
            location="classpath:whois.version.properties,classpath:whois.properties"
            system-properties-mode="OVERRIDE"/>

    <task:scheduler id="clientSynchronisationScheduler" pool-size="10"/>

</beans>
