<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Appenders -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
        <param name="Target" value="System.out" />
        <param name="Threshold" value="ALL" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] %m%n" />
        </layout>
    </appender>

    <appender name="QUERYLOG" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="Append" value="true" />
        <param name="Threshold" value="DEBUG" />

        <rollingPolicy name="QUERYLOG" class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="./${dir.var}/log/qry/qrylog.%d{yyyyMMdd}" />
        </rollingPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss} %m%n" />
        </layout>
    </appender>

    <appender name="EMAIL" class="org.apache.log4j.net.SMTPAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="BufferSize" value="1" />
        <param name="SMTPHost" value="mailhost.ripe.net" />
        <param name="SMTPPort" value="25"/>
        <param name="SMTPProtocol" value="smtp"/>
        <param name="From" value="noreply@ripe.net" />
        <param name="To" value="eshryane@ripe.net" />
        <param name="Subject" value="Whois Error Log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss} whois_rdp PW-I-%p %m%n" />
        </layout>
    </appender>

    <!-- Loggers -->
    <logger name="net.ripe.db.whois.query.handler.WhoisLog" additivity="false">
        <level value="ALL" />
        <appender-ref ref="QUERYLOG" />
    </logger>

    <logger name="net.ripe.db.whois.query.pipeline.EventLogger">
        <level value="OFF" />
    </logger>

    <logger name="com.hazelcast">
        <level value="WARN" />
    </logger>

    <logger name="net.ripe">
        <level value="INFO" />
    </logger>

    <!-- Root -->
    <root>
        <level value="WARN" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
