<?xml version="1.0" encoding="UTF-8"?>
<!--
#    ________ .___ ___________
#   /  _____/ |   |\__    ___/
#  /   \  ___ |   |  |    |   
#  \    \_\  \|   |  |    |   
#   \______  /|___|  |____|   
#          \/                 
# git clone gitlab:swe-database-team/db-operational
# centos/whois-common/log4j2-whois.xml
# ****************************************
-->
<Configuration>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{1}] %m%n"/>
        </Console>

        <RollingFile name="DOSFILTER"
                     append="true"
                     filePattern="var/dosfilter.%d{yyyyMMdd}.gz"
                     ignoreExceptions="false">
            <ThresholdFilter level="info"/>
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%c{1}] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="QUERYLOG"
                     append="true"
                     filePattern="var/log/qry/qrylog.%d{yyyyMMdd}"
                     ignoreExceptions="false">
            <ThresholdFilter level="debug"/>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss'Z'} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="UPDATELOG"
                     append="true"
                     filePattern="var/log/upd/updlog.%d{yyyyMMdd}"
                     ignoreExceptions="false">
            <ThresholdFilter level="debug"/>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss'Z'} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="NRTMLOG"
                     append="true"
                     filePattern="var/log/nrtm/nrtmlog.%d{yyyyMMdd}"
                     ignoreExceptions="false">
            <ThresholdFilter level="debug"/>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss'Z'} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="REQUESTLOG"
                     append="true"
                     filePattern="var/log/jetty/requestlog.%d{yyyyMMdd}"
                     ignoreExceptions="false">
            <ThresholdFilter level="debug"/>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss'Z'} %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

        <SMTP name="EMAIL"
              subject="Whois Error Log"
              to="eshryane@ripe.net"
              from="noreply@ripe.net"
              smtpHost="mailhost.ripe.net"
              smtpPort="25"
              bufferSize="1">
            <ThresholdFilter level="error"/>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd'T'HH:mm:ss'Z'} whois_rdp PW-I-%p %m%n</Pattern>
            </PatternLayout>
        </SMTP>

    </Appenders>

    <!-- Loggers -->
    <Loggers>

        <Logger name="org.eclipse.jetty.servlets.DoSFilter" level="all" additivity="false">
            <AppenderRef ref="DOSFILTER"/>
        </Logger>

        <Logger name="net.ripe.db.whois.query.handler.WhoisLog" level="all" additivity="false">
            <AppenderRef ref="QUERYLOG"/>
        </Logger>

        <Logger name="net.ripe.db.whois.update.log.UpdateLog" level="all" additivity="false">
            <AppenderRef ref="UPDATELOG"/>
        </Logger>

        <Logger name="net.ripe.db.whois.nrtm.NrtmLog" level="all" additivity="false">
            <AppenderRef ref="NRTMLOG"/>
        </Logger>

        <Logger name="org.eclipse.jetty.server.RequestLog" level="all" additivity="false">
            <AppenderRef ref="REQUESTLOG"/>
        </Logger>

        <Logger name="com.hazelcast" level="warn"/>

        <Logger name="com.mchange.v2.resourcepool.BasicResourcePool" level="error">
            <!-- [ES] don't log warnings on failure to create pool connections, errors logged from services already -->
        </Logger>

        <Logger name="net.ripe" level="info"/>

        <Logger name="net.ripe.db.whois.common.iptree.IpTreeCacheManager" level="warn"/>

        <!-- TODO: don't think we need this one anymore -->
        <Logger name="net.ripe.db.whois.api.transfer" level="debug"/>

        <Logger name="org.eclipse.jetty.http.HttpParser" level="error">
            <!-- do not log parse errors (e.g. invalid UTF8) -->
        </Logger>

        <Logger name="net.ripe.db.whois.api.rdap.WhoisRdapService" level="error">
            <!-- don't log RDAP info -->
        </Logger>

        <Logger name="net.ripe.db.whois.api.rest.search.ManagedAttributeSearch" level="error">
            <!-- don't log invalid status -->
        </Logger>

        <Logger name="net.ripe.db.whois.api.rdap.RdapExceptionMapper" level="error">
            <!-- TODO: [ES] fix expected 429 Too Many Requests -->
        </Logger>

        <Logger name="net.ripe.db.whois.query.planner.AbuseCFinder" level="error">
            <!-- TODO: [ES] dont log warnings for now -->
        </Logger>

        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>
