<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder
            location="
                classpath:whois.version.properties,
                classpath:whois.properties"
            system-properties-mode="OVERRIDE"/>

    <bean id="queryHandler" class="net.ripe.db.whois.query.support.MockFactoryBean" primary="true">
        <constructor-arg name="mock" value="net.ripe.db.whois.query.handler.QueryHandler" />
    </bean>

    <bean id="accessControlListManager" class="net.ripe.db.whois.query.support.MockFactoryBean" primary="true">
        <constructor-arg name="mock" value="net.ripe.db.whois.query.acl.AccessControlListManager" />
    </bean>

    <bean id="queryChannelsRegistry" class="net.ripe.db.whois.query.support.SpyFactoryBean" primary="true">
        <constructor-arg name="spy" value="net.ripe.db.whois.query.pipeline.QueryChannelsRegistry" />
    </bean>


</beans>
